{% extends 'base.html' %}

{% block title %}Панель администратора - Фото Галерея Онлайн{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <!-- Боковая панель -->
        <div class="card admin-sidebar">
            <div class="card-header">
                <h5>Панель администратора</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'admin_dashboard' %}" class="list-group-item list-group-item-action active">
                    📊 Дашборд
                </a>
                <a href="{% url 'manage_photos' %}" class="list-group-item list-group-item-action">
                    📸 Управление фото
                </a>
                <a href="{% url 'manage_users' %}" class="list-group-item list-group-item-action">
                    👥 Управление пользователями
                </a>
                <a href="{% url 'manage_categories' %}" class="list-group-item list-group-item-action">
                    📁 Управление категориями
                </a>
                <a href="{% url 'home' %}" class="list-group-